{
  "semi": true,
  "singleQuote": true,
  "printWidth": 256,
  "tabWidth": 2,
  "trailingComma": "none",
  "endOfLine": "auto",
  "jsxBracketSameLine": false,
  "jsxSingleQuote": false,
  "singleAttributePerLine": false
}
